# Server Port
PORT=3000

# Database URI (MongoDB connection string)
MONGO_URI=mongodb://localhost:27017/coursehaven

# Frontend App URL for CORS
FRONTEND_URL=http://localhost:5173

# Cloudinary Configuration
cloud_name=your_cloudinary_cloud_name
api_key=your_cloudinary_api_key
api_secret=your_cloudinary_api_secret

# JWT Secret Passwords
JWT_USER_PASSWORD=your_user_jwt_secret_key
JWT_ADMIN_PASSWORD=your_admin_jwt_secret_key
